In [1]:
# python standard library packages


# third-party packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# my modules

In [2]:
%load_ext autoreload
%autoreload 2
# Reload all modules (except those excluded by %aimport) every time before executing the Python code typed.

In [3]:
original_train = pd.read_csv('data/train.csv')
original_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
print(f"Shape of dataframe: {original_train.shape}")

Shape of dataframe: (8693, 14)

In [5]:
original_train.describe(include='all')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
count,8693,8492,8476,8494,8511,8514.000000,8490,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8493,8693
unique,8693,3,2,6560,3,NaN,2,NaN,NaN,NaN,NaN,NaN,8473,2
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,NaN,False,NaN,NaN,NaN,NaN,NaN,Gollux Reedall,True
freq,1,4602,5439,8,5915,NaN,8291,NaN,NaN,NaN,NaN,NaN,2,4378
mean,NaN,NaN,NaN,NaN,NaN,28.827930,NaN,224.687617,458.077203,173.729169,311.138778,304.854791,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,14.489021,NaN,666.717663,1611.489240,604.696458,1136.705535,1145.717189,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,27.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,38.000000,NaN,47.000000,76.000000,27.000000,59.000000,46.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,79.000000,NaN,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,NaN,NaN

In [6]:
original_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [7]:
original_train.duplicated().value_counts()

False    8693
dtype: int64

In [8]:
original_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [9]:
original_train.sample(n=20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
7275,7780_01,Earth,False,F/1614/P,55 Cancri e,33.0,False,0.0,53.0,615.0,9.0,0.0,Therly Mcmahoney,True
3198,3444_01,Europa,False,B/131/S,55 Cancri e,33.0,False,0.0,27071.0,0.0,15.0,0.0,Ainoxa Scerodbox,True
3462,3728_01,Earth,True,G/612/S,PSO J318.5-22,16.0,False,0.0,0.0,0.0,0.0,0.0,Dianya Roachoanand,True
3502,3760_01,Earth,True,G/613/P,PSO J318.5-22,21.0,False,0.0,0.0,0.0,0.0,0.0,Paulia Kennetty,True
4005,4264_01,Earth,False,F/797/S,TRAPPIST-1e,24.0,False,0.0,0.0,0.0,0.0,1300.0,Bland Houseson,False
2005,2140_01,Earth,False,F/424/P,TRAPPIST-1e,18.0,False,0.0,0.0,698.0,0.0,0.0,Andra Drakeekss,True
8515,9084_01,NaN,False,E/582/P,TRAPPIST-1e,25.0,False,1258.0,0.0,22.0,19.0,0.0,Jurs Mone,False
2377,2557_01,Europa,True,C/92/S,TRAPPIST-1e,30.0,False,0.0,0.0,0.0,0.0,0.0,Nusoton Flesping,True
1552,1647_01,Earth,False,F/328/P,TRAPPIST-1e,33.0,False,954.0,0.0,10.0,3.0,2.0,Juanna Fisheparks,False
6132,6470_01,Earth,False,E/432/S,TRAPPIST-1e,19.0,False,14.0,614.0,0.0,160.0,0.0,Sterry Chardst,False
4747,5064_01,Europa,False,A/62/S,55 Cancri e,22.0,False,1961.0,82.0,0.0,3025.0,2406.0,Alraiam Gocent,False
6442,6801_01,Europa,False,B/259/S,TRAPPIST-1e,50.0,True,0.0,7293.0,136.0,97.0,440.0,Syrmino Imprank,True
648,0680_02,Earth,True,G/105/P,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,0.0,0.0,Annard Garnes,False
1535,1628_01,Europa,True,B/71/S,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,0.0,0.0,Zauri Foraud,True
8307,8867_01,Europa,True,B/286/P,55 Cancri e,30.0,False,0.0,0.0,0.0,0.0,0.0,Sollum Ambleetive,True
5148,5497_02,Europa,False,B/210/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,0.0,Edaron Covetive,True
8077,8637_01,NaN,True,F/1773/P,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,0.0,Sinkes Spien,True
4024,4297_01,Europa,False,B/138/P,55 Cancri e,41.0,False,14.0,6777.0,81.0,604.0,2936.0,Asellan Taketiatim,False
6295,6664_01,Earth,False,G/1088/S,TRAPPIST-1e,18.0,False,0.0,0.0,827.0,0.0,0.0,Annaha Barnoldeney,True
3098,3337_03,Europa,False,B/125/S,TRAPPIST-1e,32.0,False,0.0,0.0,7.0,3653.0,226.0,Mesarix Boltund,False

In [26]:
original_train.nunique()

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

In [22]:
original_train['Transported'].value_counts()

True     4378
False    4315
Name: Transported, dtype: int64

## Quick Notes

* No duplicate values
* around 200 missing values in each column
    * want to check overlapping rows for missing values
    * want to check missing values in each row
* look like boolean values for `CryoSleep`, `VIP`, `Transported`
    * want to check this; if so, convert them to integer values
* `Destination` and `HomePlanet` have 3 unique values
    * could start by just handling this as ordinal values
* looks like `PassengerID` can have a ..._02 if there's multiple family members
* could potentially split `Cabin` and `PassengerID`

In [16]:
original_train.isnull().sum(axis=1).sort_values(ascending=False).head(20)

3882    3
7211    3
2639    3
4164    3
7682    3
6112    3
5806    3
3535    3
7019    3
6904    3
5208    3
2762    3
3072    3
4548    3
5409    3
6057    3
1203    3
3946    2
7434    2
6688    2
dtype: int64

In [15]:
original_train.iloc[3882]

PassengerId              4167_01
HomePlanet                 Earth
CryoSleep                  False
Cabin                        NaN
Destination        PSO J318.5-22
Age                          NaN
VIP                          NaN
RoomService                  0.0
FoodCourt                  440.0
ShoppingMall                 0.0
Spa                          0.0
VRDeck                     334.0
Name            Ninaha Deckerson
Transported                False
Name: 3882, dtype: object

In [18]:
# get all the rows with missing values
print(f"Number of rows with missing values: {original_train.shape[0] - original_train.dropna().shape[0]}")

Number of rows with missing values: 2087

## Quick Analysis - Missing Values
* no single rows that have a lot of missing values to drop
* could just start off by doing median/mode values, but would want to check on the distributions for these first

In [27]:
print(original_train["Transported"].value_counts())
print(original_train["VIP"].value_counts())
print(original_train["CryoSleep"].value_counts())

True     4378
False    4315
Name: Transported, dtype: int64
False    8291
True      199
Name: VIP, dtype: int64
False    5439
True     3037
Name: CryoSleep, dtype: int64

In [23]:
df_bool_conv_int = original_train.copy()
df_bool_conv_int["Transported"] = 1 * df_bool_conv_int["Transported"]
df_bool_conv_int["VIP"] = 1 * df_bool_conv_int["VIP"]
df_bool_conv_int["CryoSleep"] = 1 * df_bool_conv_int["CryoSleep"]
print(df_bool_conv_int.dtypes)

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported       int64
dtype: object

In [24]:
df_bool_conv_int.sample(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
1287,1366_01,Earth,1,G/206/P,55 Cancri e,40.0,0,0.0,NaN,0.0,0.0,0.0,Searla Hestes,1
1929,2063_01,Earth,1,G/328/S,PSO J318.5-22,38.0,0,0.0,0.0,0.0,0.0,0.0,Mistie Leonaldez,0
581,0603_01,Earth,0,F/126/P,TRAPPIST-1e,21.0,0,0.0,0.0,12.0,0.0,747.0,Lyny Scheron,0
6218,6574_01,Europa,0,A/65/P,TRAPPIST-1e,22.0,0,0.0,335.0,0.0,818.0,3014.0,Nasliak Covetive,0
4733,5052_02,Mars,0,F/961/S,55 Cancri e,23.0,0,228.0,1451.0,912.0,3.0,0.0,NaN,1
8002,8560_01,Earth,1,G/1391/P,55 Cancri e,18.0,0,0.0,0.0,0.0,0.0,0.0,Glena Hahnstonsen,1
3908,4177_03,Europa,0,B/161/S,55 Cancri e,44.0,0,36.0,588.0,0.0,1675.0,3597.0,Wasath Foraud,0
6387,6749_01,Earth,0,G/1093/P,TRAPPIST-1e,21.0,0,0.0,13.0,813.0,0.0,0.0,Luzel Barrelliver,1
2963,3210_03,Europa,0,E/211/S,TRAPPIST-1e,37.0,0,76.0,2804.0,0.0,1287.0,1229.0,Axionif Heeroling,0
3201,3444_04,Europa,0,B/131/S,TRAPPIST-1e,7.0,0,0.0,0.0,0.0,0.0,0.0,Wezena Scerodbox,1

In [30]:
print(df_bool_conv_int["HomePlanet"].value_counts(dropna=False))

Earth     4602
Europa    2131
Mars      1759
NaN        201
Name: HomePlanet, dtype: int64

In [31]:
print(df_bool_conv_int["Destination"].value_counts(dropna=False))

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
NaN               182
Name: Destination, dtype: int64